.container-fluid {
    background-color: bisque;
  }
  #mysigninform {
    background-color: blanchedalmond;
    padding: 10px;
    border: black;

    margin: 20px;
    border: ridge;
    align-items: center;
  }
  #contact {
    background-color: coral;

    text-align: center;
    text-decoration: none;
  }
  #cart {
    align-items: center;
  }
  .second-section {
    margin-top: 10px;
  }
  .first-section {
    margin-top: 100px;
  }
  #mytable {
    border: ridge;
    padding: 30px;
    margin: 20px;
    margin-right: 40px;
  }
  #gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
  }