
#nav-logo{
  border-radius: 50%;
    width: 44px;
    height: 38px;
    object-position: center top;
    object-fit: cover;
}
.nav-title, .nav-title-to{
  font-weight: 600;
  color: white;
  font-size: 3rem;
  letter-spacing: .75px;
}
.nav-title-to{
  color: yellow;
}
.full-nav{
    padding:20px
}


.container-fluid {
  background-color: bisque;
}
/* 
.footer{
  background:burlywood;
  text-align: center;
  
}
#footerid{
  bottom:0px;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#000;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}
.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
} */


