	
html {
    scroll-behavior: smooth;
  }
 
  
  .wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
    
  
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  
  .img-fluid {
    width: 100%;

  }
  
  
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  button,
  .btn,
  select {
    cursor: pointer;
  }
  
  
  
  
  body a:hover,
  body button:hover {
    opacity: .8;
  }
  
  .brk-btn {
      position: relative;
      background: none;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid #fff;
      padding: 10px 22px;
      font-size: 14px;
      display: inline-block;
      border-radius: 40px;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
  }
  
  .brk-btn-bg {
      color: var(--title-color);
      background: #fff;
  }
  
  .brk-btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.2em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .brk-btn::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.2em;
      left: 20%;
      bottom: -0.21em;
      transform: skewX(45deg);
  }
  
  .brk-btn:hover::before {
      right: 80%;
  }
  
  .brk-btn:hover::after {
      left: 80%;
  }
  
  .invalid {
    background-color: rosybrown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
  }
  
  .main-content {
      text-align: center;
      padding-top: 18em;
  }
  
  .main-content h2 {
      color: #fff;
      font-size: 7em;
      text-transform: uppercase;
      font-weight: 100;
  }
  
  .main-content h4 {
      font-size: 25px;
      line-height: 25px;
      color: #eee;
      font-weight: 400;
  }
  
  .main-content p {
      font-size: 17px;
      line-height: 25px;
      color: #c5c5c5;
      margin-top: 15px;
      max-width: 550px;
      margin: 10px auto 0;
  }
  
  .buttons {
      margin-top: 2em;
  }
  