<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
</head>
<style>
	
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #585858;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

  

.img-responsive {
  max-width: 100%;
  display: block;
}

.img-fluid {
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

body a:hover,
body button:hover {
  opacity: .8;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #050404;
}

p {
  color: #585858;
}

.brk-btn {
    position: relative;
    background: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 22px;
    font-size: 14px;
    display: inline-block;
    border-radius: 40px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.brk-btn-bg {
    color: var(--title-color);
    background: #fff;
}

.brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.2em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.2em;
    left: 20%;
    bottom: -0.21em;
    transform: skewX(45deg);
}

.brk-btn:hover::before {
    right: 80%;
}

.brk-btn:hover::after {
    left: 80%;
}

/* reset code */

/* error */
body {
  background-color: rosybrown;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
}

.main-content {
	text-align: center;
	padding-top: 18em;
}

.main-content h2 {
	color: #fff;
	font-size: 7em;
	text-transform: uppercase;
	font-weight: 100;
}

.main-content h4 {
	font-size: 25px;
	line-height: 25px;
	color: #eee;
	font-weight: 400;
}

.main-content p {
	font-size: 17px;
	line-height: 25px;
	color: #c5c5c5;
	margin-top: 15px;
	max-width: 550px;
	margin: 10px auto 0;
}

.buttons {
	margin-top: 2em;
}

</style>
<body>
    
	<section class="w3l-error-9">
		<div class="error-page">
			<div class="wrapper-full">
				<div class="main-content">
					<h2>Sorry</h2>
					<h4>User Does Not Exist...</h4>
					
					<div class="buttons">
						<a href="/User/Signup" class="btn brk-btn-bg brk-btn">
							Sign Up
						</a>
						<a href="/Home/Index" class="btn brk-btn">
							Go to home page
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</body>

</html>